:root {
  /* color */
  --color-black: #3f454d;
  --color-white: #ffffff;
  --color-blue: #3b88c3;
  --color-yellow: #fbbe28;
  --color-pink: #fd7f84;
  --color-light-gray: #dfdfdf;

  /* size */
  --size-contentsBtn-width: 70px;
  --size-contentsBtn-height: 110px;

  --size-mnuBtn-width: 50px;
  --size-mnuBtn-height: 50px;

  --size-logo: 55px;
  --size-instalogo: 15px;

  /* font-size */
  --header-title: 28px;
  /* annimation */
  --annmaition-duration: 300ms;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo {
  cursor: pointer;
  transition: transform var(--annmaition-duration) ease;
  width: var(--size-logo);
  height: var(--size-logo);
}

#header {
  margin-top: 30px;
}
#header .header-title {
  font-size: var(--header-title);
  font-weight: bold;
  margin-bottom: 15px;
  line-height: 2;
}
#header .header-producer {
  position: absolute;
  margin-left: 150px;
  margin-top: -20px;
  font-size: 13px;
  font-weight: bold;
  color: #da5e7c;
  text-decoration: underline;
  line-height: 1.71;
}
.instalogo {
  width: var(--size-instalogo);
  height: var(--size-instalogo);
}

.logo:hover,
.btn:hover {
  transform: scale(1.1);
}

.contentsBtn:hover {
  transform: scale(1.05);
}
.btn {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  transition: transform var(--annmaition-duration) ease;
}

.mnuMeal .mnu-meal {
  width: 70px;
  height: 70px;
  margin: 15px;
  border-radius: 30px;
  border: 2px solid var(--color-black);
}
.mnuMeal .today-meal {
  font-size: 14px;
  font-weight: bold;
}
.mnuInfo .mnuBtn {
  width: var(--size-mnuBtn-width);
  height: var(--size-mnuBtn-height);
  margin: 12px;
  border-radius: 20px;
  border: 2px solid var(--color-black);
}

.mnuInfo .Info-tit {
  font-size: 12px;
  font-weight: bold;
}
